<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="DevExpress" value="https://nuget.devexpress.com/ROlSMF8jIuyyX1gJMkkHTJZyCqaPIegV4hqsvvdzj3KlRqIFaS/api/v3/index.json" />
    <add key="Dev25" value="C:\Program Files\DevExpress 25.2\Components\System\Components\packages" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="DevExpress">
      <package pattern="DevExpress.*" />
    </packageSource>

    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>