@page
@model ForgotPasswordModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> S
@{
    ViewData["Title"] = S["FP_Title"];
}
<h3 class="mb-3">@S["FP_Title"]</h3>

<form method="post" novalidate>
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Input.UserNameOrEmail" class="form-label"></label>
        <input asp-for="Input.UserNameOrEmail" class="form-control" />
        <span asp-validation-for="Input.UserNameOrEmail" class="text-danger"></span>
    </div>

    <button class="btn btn-primary w-100">@S["FP_SendLink"]</button>
</form>
