@page
@model WebApplication1.Areas.Identity.Pages.Account.ForgotPasswordConfirmationModel
@{
    ViewData["Title"] = S["FPC_Title"];
}

<div class="alert alert-success">
    @S["FPC_Message"]  <!-- 예: "해당 이메일이 존재한다면 재설정 링크를 보냈습니다." -->
</div>

<a asp-area=""
   asp-controller="Account" asp-action="Login"
   class="btn btn-primary">
    @S["FPC_BTN_BackToLogin"]                <!-- 예: "로그인으로" -->
</a>