@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> S
@{
    ViewData["Title"] = S["FP_Title"];
}
<div class="alert alert-info mt-3">
    @S["FP_Info_Sent"]
</div>
<p class="mt-3">
    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-secondary">
        @S["Back_To_Login"]
    </a>
</p>
