@page
@model ResetPasswordModel
@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> S
@{
    ViewData["Title"] = S["RP_Title"];
}
<h3 class="mb-3">@S["RP_Title"]</h3>

<form method="post" novalidate>
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Input.UserId" />
    <input type="hidden" asp-for="Input.Code" />

    <div class="mb-3">
        <label asp-for="Input.Email" class="form-label"></label>
        <input asp-for="Input.Email" class="form-control" autocomplete="email" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.Password" class="form-label"></label>
        <input asp-for="Input.Password" class="form-control" autocomplete="new-password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Input.ConfirmPassword" class="form-label"></label>
        <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary w-100">@S["RP_Do"]</button>
</form>
